<html>
<style>
	table, th, td {
  		border: 1px solid black;
	}
</style>
	<body style='background-color: rgb(235,235,235)'>
		<h1>host id: <%= user %></h1>
		<% group_result.forEach(function(item){%>
			<table>
					<th><%=item.group_name %></th>
			</table>
		<% }); %>
		<form action="/search_post_id" method="GET">
			<label for="Search ID">Search:</label><br>
			<input type="text" name="search_post_id"/><br>
			<button>Search</button>
		</form>
		<form action="/search_name_of_post" method="GET">
			<label for="Search Name">Search name:</label><br>
			<input type="text" name="search_post_name"/><br>
			<button>Search</button>
		</form>
		<a href="/creating_post">Create a new post</a><br>
		<a href="/show_your_room">your room</a><br>
		<a href="/show_your_user_information">your user information</a><br>
		This will show a list of pur posts after searched
		<% result.forEach(function(item){%>
			<table>
					<tr>
	    				<th><%= item.post_id %></th>
	    				<th>
	    					<form action="/join_post" method="GET">
							    <input type="hidden" name="join_post_id" value="<%= item.post_id %>"/><br>
								<button>Join</button>
							</form>
	    				</th>
	 			</tr>
	  			<tr>
	    				<th><%= item.title %></th>
	 			</tr>
	  			<tr>
	    				<td><%= item.description %></td>
	
	  			</tr>
	  			<tr>
	    			<form action="/show_post" method="GET">
					<br><button name="post_id" value="<%= item.post_id %>">Click</button> 
					</form>
	  			</tr>
			</table>
		<% }); %>	
		<a href="/indexuser_account">user account</a><br>
		<a href="/show_your_room">your room</a>
		<form action="/back" method="GET">
			<br><button name="post_id">Back</button> 
		</form>
	</body>
</html>