<html>
<form action="/logout?_method=DELETE" method="POST">
<button type="submit">Log Out</button>
<style>
	table, th, td {
  		border: 1px solid black;
	}
</style>
	<body style='background-color: rgb(235,235,235)'>
		<h1>user id: <%= user_id %></h1>
		<% group_result.forEach(function(item){%>
			<table>
					<th>
						<form action="/filter_group" method="GET">
								<input type="hidden" name="group_id" value="<%= item.group_id %>"/><br>
								<button><%=item.group_name %></button>
						</form>
					</th>
					<th>
						<%= item.group_descripton %>
					</th>
			</table>
		<% }); %>
		<form action="/search_id_of_post" method="GET">
			<label for="Search ID">Search id:</label><br>
			<input type="text" name="search_post_id"/><br>
			<button>Search</button>
		</form>
		<form action="/search_name_of_post" method="GET">
			<label for="Search Name">Search name:</label><br>
			<input type="text" name="search_post_name"/><br>
			<button>Search</button>
		</form>
		<% if(user_id[0]=='a'){ %>
    		<a href="/admin">administrator</a><br>
    	<% } %>
    	<a href="/login">login</a><br>
    	<a href="/register">register</a><br>
		<a href="/creating_post">Create a new post</a><br>
		<a href="/show_your_room">your room</a><br>
		<a href="/show_your_user_information?user_id=<%= user_id %>">your user information</a><br>
		<a href="/filter_not_joined">show the room that is not joined by you.</a><br>
		<a href="/indexuser_account" target="_blank">all user account</a><br>
		This will show a list of pur posts
		<% result.forEach(function(item){%>
			<table>
					<tr>
	    				<th><%= item.post_id %></th>
	 			</tr>
	  			<tr>
	    				<th><%= item.title %></th>
	 			</tr>
	  			<tr>
	    				<td><%= item.description %></td>
	
	  			</tr>
	  			<tr>
	    			<form action="/show_post" method="GET">
					<br><button name="post_id" value="<%= item.post_id %>">Click</button> 
					</form>
	  			</tr>
			</table>
		<% }); %>	
		<form action="/back" method="GET">
			<br><button name="post_id">Back</button> 
		</form>
		<form action="/" method="GET">
			<br><button name="post_id">Back to who</button> 
		</form>
	</body>
</html>