<html>
<style>
	table, th, td {
  		border: 1px solid black;
	}
</style>
	<body style='background-color: rgb(235,235,235)'>
		This will show a list of user
		<% result.forEach(function(item){%>
			<table>
	  			<tr>
	    				<th><a href="/user_module/show_your_user_information?user_id=<%= item.user_id %>" target="_blank"><%= item.user_id %></a></th>
	 			</tr>
	  			<tr>
	    				<td><%= item.nickname %></td>
	
	  			</tr>
	  			<tr>
	    				<td><%= item.user_last_name%></td>
	
	  			</tr>
	  			<tr>
	    				<td><%= item.user_first_name %></td>
	
	  			</tr>
			</table>
			<br>
		<% }); %>
		<tr>
	    	<form action="/back" method="GET">
			<br><button name="post_id">Back</button> 
			</form>
	  	</tr>
	</body>
</html>