<html>
  <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<link rel="stylesheet" href="../css/index.css">
		<link href="../css/header.css" rel="stylesheet">
		<link href="../css/group-list.css" rel="stylesheet">
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>	
    <meta charset="utf-8">
    <title>Post</title>
    <style>
    #post-display .container-fluid{
            min-width: 992px;
            max-width: 1200px;
            margin-top: 50px;
    	}
    
    .center-img{
      display: block;
      margin-top:20px;
      margin-left: auto;
      margin-right: auto;
    }
    </style>
  </head>
  
  <%- include('partials/header.ejs'); -%>
	
  <%- include('partials/group-list.ejs'); -%>

  <body>
    
    <div class="post-img">
        
        <div class="container" style="height:300px;">
            <img class="center-img" src="../uploads/<%= post_result_0.post_icon_path %>" height="300" />
        </div>
        
    </div>  
      
    <section id="post-display">
        <div class="container-fluid">
            <% var e=1, i; %>
            <% for(i=0;i<post_all_result.length; i++) { if(post_all_result[i].joiner_id == user_id) e=0; } %>

            <table class="table table-bordered success">

                    <thead>
                        <tr>
                            <th class="info">Title</th>
                            <th><%= post_result_0.title %></th>
                        </tr>
                        <tr>
                            <th class="info">Description </th>
                            <td><%= post_result_0.description %></td>
                        </tr>
                        <tr>
                            <th class="info">Host </th>
                            <td><%= host_name %></td>
                        </tr>
                        
                        <tr>
                            <th class="info">Number of Participants </th>
                            <td><%= post_all_result.length %></td>
                        </tr>
                        <tr >
                            <th  class="info"> Location: </th>
                            <td><%= post_result_0.suppose_place %></td>
                        </tr>
                        <tr >
                            <th  class="info"> Date </th>
                            <td><%= post_result_0.suppose_date %></td>
                        </tr>
                        <tr >
                            <th  class="info"> Start Time </th>
                            <td><%= post_result_0.suppose_time %></td>
                        </tr>
                        <tr >
                            <th  class="info"> Duration </th>
                            <td><%= post_result_0.suppose_duration %></td>
                        </tr>
                        <tr >
                            <th  class="info"> Create Time of Post </th>
                            <td><%= post_result_0.t %></td>
                        </tr>
                        <tr>
                            <th class="info">Group Name:</th>
                            <td> 
                                <% group_result.forEach(function(g){%>
				                        <% if(g.group_id==post_result_0.group_id){ %>
				                            <%= g.group_name %>
				                        <% } %>
			                     <% }); %>
                            </td>
                        </tr>
                        <tr>
                            <th class="info">Subgroup Name: </th>
                            <td>
                                <% subgroup_result.forEach(function(g){%>
				                        <% if(g.subgroup_id==post_result_0.subgroup_id){ %>
				                            <%= g.subgroup_name %>
				                        <% } %>
			                     <% }); %>
                            </td>
                        </tr>
    
                        
                        <th class="info">Joiner </th>
                        <% post_all_result.forEach(function(item){%>
                            <tr>
                                <td>
                                    <a href="/user_module/show_your_user_information?user_id=<%= item.joiner_id %>" target="_blank"><%= item.nickname %></a>
                                    <% if(item.joiner_id==post_result_0.host_id) { %>
                                        <p1>(Host)</p1>
                                    <% } %>
                                </td>
                            </tr>
                        <% }); %>
                        
						<tr>
			    		
						<% if(user_id==post_result_0.host_id||is_admin==1) { %>
							 <%- include('partials/change-post-content.ejs'); -%>
						<% } %>
						<% if(user_id==post_result_0.host_id||is_admin==1) { %>
							<a class="btn btn-outline-info" href="/img_upload?post_id=<%= post_result_0.post_id %>">Upload photo</a>
						<% } %>
						<% if(user_id!='guest') { %>
							<% if(e) { %>
								<form action="/post_module/show_post" method="GET">
									<input type="hidden" name="action" value="join_post"/>
									<input type="hidden" name="post_id" value="<%= post_result_0.post_id %>"/>

									<button type="submit"class="btn btn-outline-info" value:"Join">Join</button>
										
								</form>
							<% }else{ %>
								<p>You have joined this post or activity.</p>
								<p>
								    <form action="/room_module/enter_room" method="GET">
                                    <input type="hidden" name="post_id" value="<%= post_result_0.post_id %>"/>
                                    <input type="hidden" name="enter_user_id" value="<%= current_id %>"/>
                                    <button class="btn btn-outline-info">Enter</button>
                                    </form>
								</p>
							<% } %>
						<% } %>
			  			</tr>
                    </table>
                
                <% if(current_id!='guest') { %>   
                    <form action="/post_module/show_post" method="GET">
                                
                        <div class="form-group">
                            <label for="new_comment">Comment Here :</label>
                            <textarea class="form-control" type="text" name="new_comment" rows="2" required></textarea>
                                
                            <input type="hidden" name="action" value="new_comment"/>
                            <input type="hidden" name='post_id' value="<%= post_result_0.post_id %>"/>
                            <input type="submit"class="btn btn-outline-info btn-sm" value="New Comment" >
                        </div>
                            
                    </form>
                <% } %>
            <div class="row">
                <h2><strong>Comment:</strong></h2>
                <table class="table table-hover table-bordered">
                        
                <thead>
                    <tr>
                      <th scope="col">User</th>
                      <th scope="col">Date</th>
                      <th scope="col">Content</th>
                      <th scope="col"></th>
                      <th scope="col"></th>
                    </tr>
                </thead>
            
                <tbody>
                <% comment.forEach(function(item){%>
                <tr>
                    <td><%= item.comment_user_id %></td>
                    <td><%= item.comment_date %></td>
                    <td><%= item.comment_content %></td>
    	                <% if(user_id==item.comment_user_id||is_admin==1) { %>
    		                    <td>
    		                    <form action="/post_module/show_post" method="GET">
    		                        <input type="hidden" name="action" value="change_comment"/>
    		                        <input type="text" name="change_comment"/>
    		                        <input type="hidden" name='post_id' value="<%= post_result_0.post_id %>"/>
    		                        <input type="hidden" name='comment_id' value="<%= item.comment_id %>"/>
    		                        <button>Change</button> 
    		                    </form>
    		                    </td>
    		                    <td>
    		                    <form action="/post_module/show_post" method="GET">
    		                        <input type="hidden" name="action" value="delete_comment"/>
    		                        <input type="hidden" name='post_id' value="<%= post_result_0.post_id %>"/>
    		                        <input type="hidden" name='comment_id' value="<%= item.comment_id %>"/>
    		                        <button class="btn btn-outline-info">Delete this comment</button> 
    		                    </form>
    		                    </td>
    	                   <% }else{ %>
    	                    <td></td>
    	                    <td></td>
    	                   <% } %>
                        <% }); %>
                    </tr>
                </tbody>
            </table>
            
        
                <% if(user_id==post_result_0.host_id||is_admin==1) { %>
                    <%- include('partials/warning_post.ejs'); -%>
                <% } %>
                </div>
            </div>
    </section>

    
    <script>
	    $(document).ready(function(){
		
		    /*$(".search .btn.dropdown-toggle").click(function(){
		        console.log($(".search .input-action").val());
		    });*/
		
		    $(".search .postID").click(function(){
		        $(".search .btn.dropdown-toggle").text("postID");
		        $(".search .input-action").val("search_id_of_post");
		        $(".form-control").prop("name","search_post_id");
		        console.log($(".search .input-action").val());
		
		    });
		
		    /*chnage for userID*/
		    $(".search .userID").click(function(){
		        $(".search .btn.dropdown-toggle").text("userID");
		        $(".search .input-action").val("search_id_of_user");
		        $(".form-control").prop("name","search_user_id");
		        console.log($(".search .input-action").val());
		
		    });
		
		    /*chnage for postTopic*/
		    $(".search .postTitle").click(function(){
		    $(".search .btn.dropdown-toggle").text("postTitle");
		    $(".search .input-action").val("search_name_of_post");
		    $(".form-control").prop("name","search_post_name");
		    console.log($(".search .input-action").val());
		    });
		    
		    
		    $("#group_id").change(function () {
		    	
				$('#subgroup_id').prop('selectedIndex',0);
				$("#subgroup_id").children('option').hide();
				$("#subgroup_id").children("option[class^=" + $("#group_id").val() + "]").show();
				    
		    });
		    
		    $("#change-user-info #group_id").change(function () {
		    	
				$('#change-user-info #subgroup_id').prop('selectedIndex',0);
				$("#change-user-info #subgroup_id").children('option').hide();
				$("#change-user-info #subgroup_id").children("option[class^=" + $("#change-user-info #group_id").val() + "]").show();
				    
		    });
			
			 $( function() {
			    $( "#datepicker" ).datepicker();
			 });

		});
	</script>
    

  </body>
</html>