<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<link rel="stylesheet" href="../css/index.css">
		<link href="../css/header.css" rel="stylesheet">
		<link href="../css/group-list.css" rel="stylesheet">
		<link rel="icon" href="../uploads/Teamder_icon.jpg">
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>	
</head>
<style>
	table, th, td {
  		border: 1px solid black;
	}
	.container-fluid{
        min-width: 992px;
        max-width: 1200px;
	}
</style>
	<body style='background-color: rgb(235,235,235)'>
		<div class="container-fluid">
			This will show that room.
			<table>
				<tr>
	    				<th>post_id: <%= result.post_id %></th>
	 			</tr>
	  			<tr>
	    				<th>title: <%= result.title %></th>
	 			</tr>
	  			<tr>
	    				<td>description: <%= result.description %></td>
	
	  			</tr>
	  			<tr>
	    				<td>host name: <%= host_name %></td>
	
	  			</tr>
	  			<tr>
	    				<td>no of participants: <%= all_result.length %></td>
	
	  			</tr>
	  			<tr>
	    				<td>type of game: <%= result.type_of_game %></td>
	
	  			</tr>
	  			<tr>
	    				<td>time: <%= result.t %></td>
	
	  			</tr>
	  			<tr>
	    				<td>hashtag: <%= result.hashtag %></td>
	
	  			</tr>
	  			<tr>
	    				<td>group id: <%= result.group_id %></td>
	
	  			</tr>
	  			<tr>
	    				<td>subgroup id: <%= result.subgroup_id %></td>
	
	  			</tr>
	  			<% all_result.forEach(function(item){%>
	  				<tr>
	    				<td>
	    					joiner id: <a href="/user_module/show_your_user_information?user_id=<%= item.joiner_id %>" target="_blank"><%= item.nickname %></a>
	    					<% if(item.joiner_id==result.host_id) { %>
	    						<h1>Host</h1>
	    					<% } %>
	    					<% if(user_id==result.host_id) { %>
	    						<% if(item.joiner_id!=result.host_id) { %>
			    					<form action="/room_module/enter_room" method="GET">
			    						<input type="hidden" name="action" value="delete_joiner"/>
			    						<input type="hidden" name="post_id" value="<%= result.post_id %>"/>
			    						<input type="hidden" name="delete_joiner_id" value="<%= item.joiner_id %>"/>
										<br><button>Delete</button>
									</form>
								<% } %>
							<% } %>
	    				</td>
	  				</tr>
	  			<% }); %>
	  			<tr>
	    			<form action="/back" method="GET">
						<br><button name="post_id">Back</button> 
					</form>
					<% if(user_id==result.host_id) { %>
						<form action="/post_module/change_post" method="get">
		    				<input type="hidden" name='post_id' value="<%= result.post_id %>"/>
		    				<button name ="submit" value="1" type="submit">Change</button>
						</form>
					<% } %>
					<form action="/room_module/withdraw_room" method="GET">
						<input type="hidden" name="withdraw_post_id" value="<%= result.post_id %>"/><br>
						<button>Withdraw</button>
					</form>
					<% if(all_result.length>=2 && finish_result==0){ %>
						<form action="/room_module/finish_room" method="GET">
							<input type="hidden" name="finish_post_id" value="<%= result.post_id %>"/><br>
							<button>Finish and rate</button>
						</form>

					<% } %>
					<% if(user_id==result.host_id) { %>
						<form action="/room_module/enter_room" method="GET">
							<br><input type="text" name="new_user_id"/>
							<input type="hidden" name="action" value="add_joiner"/>
							<input type="hidden" name="post_id" value="<%= result.post_id %>"/>
							<button>Add user</button>
						</form>
						<form action="/room_module/enter_room" method="GET">
							<br><input type="text" name="changed_host_id"/>
							<input type="hidden" name="action" value="change_host"/>
							<input type="hidden" name="post_id" value="<%= result.post_id %>"/>
							<button>Change host</button>
						</form>
					<% } %>
	  			</tr>
			</table>
			<table>
			    <tr>chat room:</tr>
			    <tr>content</tr>
			</table>
			<!--<a href="/chatRoom?chatroom=<%= result.post_id %>&user_id=<%= user_id %>" target="_blank">Chatroom</a><br>-->
			<% if(user_id==result.host_id) { %>
				<tr>
		    		<form action="/post_module/delete_post" method="GET">
					<br><button name="post_id" value="<%= result.post_id %>">Delete</button> 
					</form>
		  		</tr>
	  		<% } %>
		</div>
	</body>
</html>