<html>
<style>
	table, th, td {
  		border: 1px solid black;
	}
</style>
	<body style='background-color: rgb(235,235,235)'>
		<h1>host id: <%= user_id %></h1>
		This will show a list of your rooms
		<% post_all_result.forEach(function(item){%>
			<% if(user_id==item.host_id){ %>
				<h1>Host:</h1>
			<% }else{ %>
				<h1>Joiner:</h1>
			<% } %>
			<table>
					<tr>
	    				<th><%= item.post_id %></th>
	    				<th>
	    					<form action="/room_module/enter_room" method="GET">
								<input type="hidden" name="post_id" value="<%= item.post_id %>"/><br>
								<input type="hidden" name="enter_user_id" value="<%= user_id %>"/><br>
								<button>Enter</button>
							</form>
	    				</th>
	 			</tr>
	  			<tr>
	    				<th><%= item.title %></th>
	    				<th>
		    				<% if(item.host_id!=current_id){ %>
		    					<form action="/room_module/withdraw_room" method="GET">
									<input type="hidden" name="withdraw_post_id" value="<%= item.post_id %>"/><br>
									<button>Withdraw</button>
								</form>
							<% } %>
	    				</th>
	 			</tr>
	  			<tr>
	    				<td><%= item.description %></td>
	
	  			</tr>
			</table>
			<br>
		<% }); %>	
		<form action="/back" method="GET">
		    <br><button name="post_id">Back</button> 
		</form>
	</body>
</html>