<html>
	<head>
		<Title>User</Title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<link rel="stylesheet" href="../css/index.css">
		<link rel="stylesheet" href="../css/user_information.css">
		<link href="../css/header.css" rel="stylesheet">
		<link href="../css/group-list.css" rel="stylesheet">
		<link rel="icon" href="../uploads/Teamder_icon.jpg">
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

		<style>
		table, th, td {
		  	border: 1 px solid black;
		}
			
		#user-info .container-fluid{
			margin-top:30px;
		}

	    .profile-pic-container {
	    	text-align: center;
	    	margin-bottom:10px;
	    }
	    
	    .button-container{
	    	margin-top:5px;
	    }
	    .embed-responsive{
		    height: 12rem;
		}
		.embed-responsive .card-img-top {
		    object-fit: cover;
		}
		
		.card{
		    height: 30rem;
		}
			

		</style>
	</head>
	<body style='background-color: rgb(255,255,255)'>
		
		<%- include('partials/header.ejs'); -%>
		
		<%- include('partials/group-list.ejs'); -%>
		
		<section id="user-info">
		<div class="container-fluid">
			
			<div class="row">
				
				
				<div class="col table table-bordered success">
					
					<table width="600">
						<tr>
							<h2 class="text-danger">Your information</h2>
							<div class="profile-pic-container">
								<form action="/img_upload" method="GET">
									<input type="hidden" name='user_id' value="<%= result.user_id %>"/>
									<input type="hidden" name='post_id' value="not_post"/>
									<%if(current_id==result.user_id){%>
										<%if( result.icon_path ){%>
											<input type="image" class=".profile-pic" src="../uploads/<%= result.icon_path %>" alt="Submit" width="300" height="250">
										<%} else {%>
											<input type="image" class=".profile-pic" src="../uploads/user-512.png" alt="Submit" width="300" height="250">
										<%}%>
									<%}else{%>
										<%if( result.icon_path ){%>
											<img src="../uploads/<%= result.icon_path %>" width="300" height="250">
										<%} else {%>
											<img src="../uploads/user-512.png" width="300" height="250">
										<%}%>
									<%}%>
								</form>
								<br>
								<a><small>Click icon to upload and change</small></a>
						    </div>
						</tr>
			  			<tr>
								
								<th class="info">First Name</th>
								<td><%= result.user_first_name %></td>
			 			</tr>
			  			<tr>
								
								<th class="info">Last Name</th>
								<td><%= result.user_last_name %></td>
			
			  			</tr>
			  			<tr>
								
								<th class="info">Nickname</th>
								<td><%= result.nickname %></td>
			
			  			</tr>
			  			<tr>
								
								<th class="info">Email</th>
								<td><%= result.email %></td>
			
			  			</tr>
			  			<tr>
						
								<th class="info">Phone Number</th>
								<td><%= result.phone_number %></td>
			
			  			</tr>
			  			<tr>
								
								<th class="info">Age</th>
								<td><%= result.age %></td>
			
			  			</tr>
			  			<tr>
								
								<th class="info">About Me</th>
								<td><%= result.introduction %></td>
			
			  			</tr>
			  			<tr>
								
								<th class="info">Sex</th>
								<td><%= result.sex %></td>
			
			  			</tr>
			  			<tr>
								
								<th class="info">Rating</th>
								<td><%= rate %></td>
			
			  			</tr>
			  			<tr>
							
								<th class="info">Preference</th>
								<td><%= result.perference1 %></td>
			
			  			</tr>
			  			<% if(is_admin==1){ %>
				  			<tr>
				  					<% if(result.is_admin==1){ %>
				    					<td>administrator: Yes</td>
									<% }else{ %>
				    					<td>administrator: No</td>
									<% } %>
				  			</tr>
			  			<% } %>
			  			
			  			
					</table>
					<% if(user_id==result.user_id||is_admin==1){ %>
					<br>
					<div class="button-container">
						<% if(current_id==result.user_id||is_admin==1){ %>
							<div class="container">
							
								<!--<form action="/user_module/change_user_information" method="get">
										<input type="hidden" name='user_id' value="<%= result.user_id %>"/>
										<input type="submit"class="btn btn-outline-info" value="Edit your profile" >
									</form>-->
									<%- include('partials/change-user-info.ejs'); -%>
								
							</div>
							<div class="container">
								<%- include('partials/del-account-warning.ejs'); -%>
							</div>
						<% } %>
					</div>
			    	<% if(is_admin==1){ %>
					<div class="button-container">
						<div class="container">
							<a href="/group_module/group_display"><button class="btn btn-outline-info" >Modify Group</button></a>
						</div>
						<div class="container">
			            	<a href="/indexuser_account"><button class="btn btn-outline-info" >Show Users</button></a>
			            </div>
			            <div class="container">
			            	<a href="/data-analysis"><button class="btn btn-outline-info" >Data Analysis</button></a>
			            </div>
			        	</div>
            		<% } %>
			  		</tr>
			  		<% } %>
				</div>
				<div class="col">
					<%- include('partials/personal-room-info.ejs'); -%>
				</div>
				
			</div>
			
			
			<!--
				<table>
				<% var i=1; %>
				<% post_all_result.forEach(function(item){%>
					<% if(i%4==1){ %>
					<tr>
					<% } %>
					
						<th>
							
							<div class="card-header">
							<% if(user_id==item.host_id){ %>
								<a>host</a>
							<% }else{ %>
				                	<a href="/user_module/show_your_user_information?user_id=<%= item.host_id %>" class="card-link" style=" z-index: 2; position: relative;" target="_blank"><%= item.nickname %></a>
							<% } %>
							</div>
			                
							<div class="embed-responsive embed-responsive-16by9">
							    <img alt="Card image cap" class="card-img-top embed-responsive-item" src="../uploads/<%= item.post_icon_path %>" />
							</div>

			                <div class="card-body">
			                    <p class="card-text"><strong>Title: <%= item.title %></strong></p>
			                		<p class="card-text">Description: <%= item.description %></p>
			                    	<p class="card-text">HitRate: <%= item.hitrate %></p>
			                    	<a class="card-text">Group:
			                    		<% group_result.forEach(function(g){%>
				                			<% if(g.group_id==item.group_id){ %>
				                            	<%= g.group_name %>
				                            <% } %>
			                            <% }); %>
			                        </a>
			                        <form action="/post_module/show_post" method="GET">
			                        	<button class="btn btn-outline-info" name="post_id" value="<%= item.post_id %>">View!</button>
									</form>
			            	</div>
			        	</div>
			        	</th>
			        	
			        <% if(i%4==4){ %>
			        </tr>
			    	<% } %>
			    	
			    	<% i=i+1; %>
			    	
				<% }); %>
			</table>-->
			
		<br>
		<%- include('partials/personal-post-info.ejs'); -%>	
		</div>
		

		</section>
		
		<script>
	    $(document).ready(function(){
		
		    /*$(".search .btn.dropdown-toggle").click(function(){
		        console.log($(".search .input-action").val());
		    });*/
		
		    $(".search .postID").click(function(){
		        $(".search .btn.dropdown-toggle").text("postID");
		        $(".search .input-action").val("search_id_of_post");
		        $(".form-control").prop("name","search_post_id");
		        console.log($(".search .input-action").val());
		
		    });
		
		    /*chnage for userID*/
		    $(".search .userID").click(function(){
		        $(".search .btn.dropdown-toggle").text("userID");
		        $(".search .input-action").val("search_id_of_user");
		        $(".form-control").prop("name","search_user_id");
		        console.log($(".search .input-action").val());
		
		    });
		
		    /*chnage for postTopic*/
		    $(".search .postTitle").click(function(){
		    $(".search .btn.dropdown-toggle").text("postTitle");
		    $(".search .input-action").val("search_name_of_post");
		    $(".form-control").prop("name","search_post_name");
		    console.log($(".search .input-action").val());
		    });
		    
		    
		    $("#group_id").change(function () {
		    	
				$('#subgroup_id').prop('selectedIndex',0);
				$("#subgroup_id").children('option').hide();
				$("#subgroup_id").children("option[class^=" + $("#group_id").val() + "]").show();
				    
		    });
			
			 $( function() {
			    $( "#datepicker" ).datepicker();
			 });
			 
		});
		
		</script>
		
	
	</body>
</html>